@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}


p{
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{
    font-size: 0.9rem;
    color: #757373;
}

h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}


/* Header Section start*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: orange;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 00;
}

#pa a{
    text-decoration: none;
    font-size: 24px;
    color: black;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    font-size: large;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.35s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #1900ff;
}


#navbar li a.active::after,
#navbar li a:hover::after{
    width: 30%;
    content: "";
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 30px;

    background-color: #1900ff;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/* Home page */
#home{
    background-image: url("image/pexels-jplenio-1105379.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding-top: 40px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home h2{
    color: rgb(255, 255, 255);
    font-size: 43px;
    letter-spacing: 1px;

}

#home p{
    width: 50%;
    color: white;
    line-height: 25px;
    font-size: 20px;
}

#home  .btn{
    margin-top: 30px;

}

#home a {
    text-decoration: none;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 800;
    font-size: 20px;
    border-radius: 5px;
    color: black;

}

#home a.blue{
    color: white;
    background-color: rgb(21, 21, 100);
    transition: 0.3s ease;
}


#home a.blue:hover{
    color: blue;
    background-color: white;

}


#home a.yellow{
    color: white;
    background-color: #FDC93B;
    transition: 0.3s ease;

}

#home a.yellow:hover{
    color: #FDC93B;
    background-color: white;
}

/*Features*/

#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-box{
    background: #e1e1e6;
    text-align: center;
    padding: 30px 30px;
}
#features .fea-box i{
    font-size: 2.3rem;
}
#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 13px 0 7px 0;
}

#features .fea-box p{
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: rgb(62, 62, 63);
}


#features .fea-base{
    display: grid;
    grid-gap: 1rem;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}

#course{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#course .courses{
    text-align: start;
    height: 93%;
    border: 1px solid black;
    margin: 10px 10px;


}
.courses3 h2{
    text-align: center;
}

#course .courses2,#course .courses3{
    text-align: start;
    height: 93%;
    border: 1px solid black;
    margin: 10px 10px;

}
#course .courses img,#course .courses2 img,#course .courses3 img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
}

#course .courses2 img{
    height: 100%;

}
#course .courses3 img{
    height: 90%;
}

#course-h1{
    background-color: rgb(59, 248, 115);
    width: 100%;
    color: black;
}

#course-h1-2{
    background-color: rgb(59, 242, 248);
    width: 100%;
    color: black;
}

#course-h1-3{
    background-color: rgb(245, 248, 59);
    width: 100%;
    color: black;
}

#course-h1-4{
    background-color: rgb(197, 89, 240);
    width: 100%;
    color: rgb(0, 0, 0);
}

#course .courses .details{
    padding: 15px 15px 0 15px;
}
#course .courses .details h2{
    text-align: center;
    margin-bottom: 5px;
}

#course .courses .details p{
    text-align: justify;

}


#registration{
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)),  url("image/1.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
}

#registration .reminder h4,p{
    color: black;
}

#registration .reminder .reminder1 h4{
    background-color: rgb(248, 127, 218);
    padding: 5px 5px;
    border-radius: 30px;

}

#registration .reminder .reminder2 h4{
    background-color: rgb(255, 255, 255);
    padding: 5px 5px;
    border-radius: 30px;

}

#registration .reminder .reminder3 h4{
    background-color: rgb(220, 127, 248);
    padding: 5px 5px;
    border-radius: 30px;

}

#registration .reminder .reminder4 h4{
    padding: 5px 5px;
    border-radius: 30px;
    background-color: rgb(127, 248, 127);
}

#registration .reminder .reminder5 h4{
    background-color: rgb(145, 127, 248);
    padding: 5px 5px;
    border-radius: 30px;

}

#registration .reminder .reminder6 h4{
    background-color: rgb(245, 133, 133);
    padding: 5px 5px;
    border-radius: 30px;
}

#registration .reminder .reminder1,
#registration .reminder .reminder2,
#registration .reminder .reminder3,
#registration .reminder .reminder4,
#registration .reminder .reminder5,
#registration .reminder .reminder6{
    background: rgb(250, 227, 127);
    margin: 5px 5px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}


#registration .reminder .reminder1 h4,
#registration .reminder .reminder2 h4,
#registration .reminder .reminder3 h4,
#registration .reminder .reminder4 h4,
#registration .reminder .reminder5 h4,
#registration .reminder .reminder6 h4{
    font-size: 19px;
    margin-top: 10px;
    text-align: center;
}
#registration h2{
    color: white;
    font-size: 45px;
    text-align: center;
}

#registration .reminder{
    display: grid;
    grid-gap: 1rem;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}


footer{
    padding: 8vw;
    background-color: #121c36;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    padding-bottom: 40px;
    text-decoration: none;
}

.footer-col  li a{
    text-decoration: none;
    color: #7b838a;
}

#star{
    color: yellow;
}

footer h3{
    color: white;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    padding: 10px 0;
    color: #7b838a;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
}
footer p{
    color: #7b838a;

}

footer li:hover{
    color: rgb(241,240,245);
}


footer .subscribe{
    margin-top: 20px;
    
}

footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    margin-bottom: 20px;
    margin-right: 20px;
    color: white;
    border: none;
    outline: none;
}

footer .subscribe a{
    text-decoration: none;
    padding: 12px 15px ;
    background-color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    color: black;

}


footer .subscribe a.yellow{
    color: white;
    background-color: #FDC93B;
    transition: 0.3s ease;

}

footer .subscribe a.yellow:hover{
    color: #FDC93B;
    background-color: white;
}


footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright{
    margin-top: 0px;
}
footer .copyright i{
    padding: 10px 13px;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid rgb(133, 125, 125);
    color: #fff;
}
footer .copyright i:hover{
    cursor: pointer;
}
footer .copyright p{
    color: #fff;
}

#bar, #menu-close{
    display: none;
}

nav .navigation{
    display: flex;
}
nav .navigation i{
    font-size: 30px;
}

#about-section-section{
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgb(77, 204, 226), rgba(33, 33, 189, 0.5)),  url("image/609.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 40px;


}

.about-section, .about-section2{
    display: flex;
    justify-content: space-between;
    
}


#about-section-section .about-img img,#about-section-section .about-img2 img{
    width: 400px;
    height: 300px;

}

.about-img img{
    height: 600px;
}
#about-section-section .about-img2 img{
    margin-top:20px;

}

#about-section-section h2{
    text-align: center;
    color: white;
    font-size: 45px;
    text-align: center;
}

#content p,#content2 p{
    width: 80%;
    text-align: justify;
    font-size: 26px;
    color: rgb(3, 0, 0);
    
}
#content2 p{

    background-color: rgb(237, 245, 135);
    padding: 30px 40px;
    border-radius: 100px;
}

#content p{
    background-color: rgb(237, 245, 135);
    padding: 30px 40px;
    border-radius: 100px;
}

#core-team-h1{
    text-decoration: underline;
}

#gallery-img img{
    width: 300px;
    height: 100px;
    flex-wrap: wrap;
}
#gallery-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact {
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact .form{
    width: 100%;
}

.contact .form h2{
    padding-bottom: 10px;
    width: 100%;
    font-size: 2rem;
    color: #212529;
}

.contact .map{
    width: 100%;
}

#contacts .contact .form h2{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

#contacts .contact .map h2{
    color: white;
    font-weight: bold;
}
#contacts{
    background-image: url(image/li.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.contact .form .submit{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    flex-direction: column;
}

.map i{
    color: red;
}

.contact .form .submit input,.contact .form .submit textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid #95a5a6;
    outline: none;
    margin: 13px 0;
}

.contact .form .submit input:focus,.contact .form .submit textarea:focus{
    border-color: black;
}

.contact .form .submit input::placeholder{
    color: #7f8c8d;
    font-size: 1.1rem;
}

.contact .form .submit textarea::placeholder{
    color: #7f8c8d;
    font-size: 1.1rem;
    height: 80%;
}


.contact .form .submit a{
    text-decoration: none;
    padding: 15px 0;
    color: white;
    margin: 13px 0;
    width: 100%;
    background: #111;
    text-align: center;
}





/* CSS media Queries */
/*
@media (max-width:799px) {
    nav{
        padding: 15px 20px;
    }
    #menu-close{
        display: initial;
        color: #fff;
    }
    #bar{
        display: initial;
    }
    #content p{
        height: 20vh;
    }

    nav .navigation ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        background: rgba(194, 3, 184, 0.452);
        height: 100vh;
        backdrop-filter: blur(4.5px);
        border: 10px solid rgba(207, 27, 231, 0.18);
        transition: 0.3s ease;
    }

    #home p{
        width: 90%;
    }
    footer .copyright {
        margin-top: 15px;
    }

    #features{
        padding: 8vw 4vw 0 4vw;
        text-align: center;
    }

    nav .navigation ul.active{
        right: 0;
    }
    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    nav .navigation ul li a{
        color: #fff;
    }

}

@media (max-width : 475px) {
    footer li a{
        text-decoration: none;
    }
}*/




/* Media Queries for Mobile and iPad */

/* Navbar 
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    nav img {
        width: 180px;
        height: 60px;
    }

    nav .navigation ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav .navigation ul li {
        margin-left: 0;
        padding: 10px 0;
    }

    nav .navigation ul li a {
        font-size: 18px;
    }
}

/* Hero Section Buttons 
@media (max-width: 768px) {
    #home .btn a {
        padding: 10px 25px;
        font-size: 18px;
    }

    #home p {
        width: 90%;
        font-size: 18px;
    }
}*/

/* Events 2023 Title 
@media (max-width: 768px) {
    #course-h1, #course-h1-2, #course-h1-3, #course-h1-4 {
        font-size: 32px;
        padding: 15px;
    }
}*/

/* About Section 
@media (max-width: 768px) {
    #about-section-section {
        padding: 20px;
        text-align: center;
    }

    #about-section-section .about-img img {
        width: 100%;
        height: auto;
    }

    #content p, #content2 p {
        width: 100%;
        font-size: 20px;
        padding: 20px;
        border-radius: 20px;


    }


    #about-section-section .about-img2 img {
        margin-top: 20px;
    }
}*/

/* Core Team Section 
@media (max-width: 768px) {
    #core-team-h1 {
        font-size: 32px;
    }

    #gallery-img img {
        width: 100%;
        height: auto;
    }
}
*/
/* Contact Section 
@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        padding: 20px;
    }

    .contact .form, .contact .map {
        width: 100%;
    }

    .contact .form h2, .contact .map h2 {
        font-size: 24px;
    }

    .contact .form .submit input, .contact .form .submit textarea {
        font-size: 16px;
    }
}
*/
@media (max-width : 499px){
    nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        width:100%;
        justify-content: space-between;
        padding: 0vw 4vw;
        font-size: 20px;
        align-items: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        background-color: rgb(235, 157, 84);
        /* background-color: #8baae2; */
        top: 0;
    }
    #bar, #menu-close{
        display: flex;
    }

    nav .navigation ul {
        justify-content: flex-end;
        display: flex;
        align-items: center;
    }

    #home p {
        width: 100%;
        color: white;
        line-height: 25px;
        font-size: 20px;
    }
    #home {
        background-image: url("image/pexels-jplenio-1105379.jpg");
        width: 100%;
        height: 100vh;
        background-size: cover;
        padding-top: 40px;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #home h2 {
        color: rgb(255, 255, 255);
        font-size: 33px;
        letter-spacing: 1px;
    }


    #home .btn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #home a.yellow{
        color: white;
        background-color: #FDC93B;
        transition: 0.3s ease;
        margin-top: 18px;
    
    }

    #course .courses .details p {
        text-align: justify;
        font-size: 15px;
    }


    #star{
        font-size: 1px;
    }

    .submit input{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 30px;
        width: 100%;
        padding: 5px 60px 5px 5px;
        flex-direction: column;
    }

    #contacts { 
        width: 100%;
    }

    .contact {
        padding: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .map iframe{
        margin-left: 0px;
        width: 300px;
    }
    .submit .inp{
        width: 100%;
        padding: 0;
    }

    .map{
        margin: 0px;
        padding: 0px;
    }


    .contact .form .submit input,.contact .form .submit textarea{
        width: 100%;
        padding: 15px;
        border: 1px solid #95a5a6;
        outline: none;
        margin: 13px 0;
    }
    
    .contact .form .submit input:focus,.contact .form .submit textarea:focus{
        border-color: black;
    }
    
    .contact .form .submit input::placeholder{
        color: #7f8c8d;
        font-size: 1.1rem;
    }
    
    .contact .form .submit textarea::placeholder{
        color: #7f8c8d;
        font-size: 1.1rem;
        height: 80%;
    }
    
    
    .contact .form .submit a{
        text-decoration: none;
        padding: 15px 0;
        color: white;
        margin: 13px 0;
        width: 100%;
        background: #111;
        text-align: center;
    }

    #header{
        padding: 10px 30px;
    }
}

@media (max-width : 811px){
    nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        width:100%;
        justify-content: space-between;
        padding: 0vw 4vw;
        font-size: 45px;
        align-items: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        background-color: rgb(235, 157, 84);
        /* background-color: #8baae2; */
    }


    #bar, #menu-close{
        display: flex;
    }

    #course h1 i,#course h1{
        font-size: 25px;
    }

    #course .courses .details {
        padding: 15px 15px 10px 15px;
    }

    #course .courses p{
        padding: 0px 0px 45px 0px;
    }

    .about-section, .about-section2{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
    }
    
    #content p, #content2 p{
        width: 100%;
        margin: 20px;

    }


    .courses3 h2 {
        text-align: center;
        font-size: 20px;
    }

    .contact {
        padding: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px; 
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        columns: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        display: initial;
}
}
